<launch>

  <arg name="use_color"         default="true"/>
  <arg name="use_depth"         default="false"/>
  <arg name="use_pointcloud2"   default="true"/>
  <arg name="rgb_topic"         default="/raw/left/image"/>
  <arg name="depth_topic"       default="/d435i/aligned_depth_to_color/image_raw"/>
  <arg name="pointcloud2Topic"  default="/point_cloud"/>
  <arg name="camera_frame"      default="base_link"/>
  <arg name="islazy"		default="false"/>
  <arg name="use_camera_softTrriger"	default="true"/>
  <arg name="camera_softTrrigerTopic"		default="/ensenso_trriger"/>

  <node pkg="vision_bridge" type="vision_bridge" name="vision_bridge" output="screen">
     <param name="use_color" type="bool" value="$(arg use_color)"/>
     <param name="use_depth" type="bool" value="$(arg use_depth)"/>
     <param name="use_pointcloud2" type="bool" value="$(arg use_pointcloud2)"/>
     <param name="rgb_topic" type="str" value="$(arg rgb_topic)"/>
     <param name="depth_topic" type="str" value="$(arg depth_topic)"/>
     <param name="pointcloud2Topic" type="str" value="$(arg pointcloud2Topic)"/>
     <param name="camera_frame" type="str" value="$(arg camera_frame)"/>
     <param name="islazy"		type="bool" value="$(arg islazy)"/>
     <param name="use_camera_softTrriger"		type="bool" value="$(arg use_camera_softTrriger)"/>
     <param name="camera_softTrrigerTopic"		type="str" value="$(arg camera_softTrrigerTopic)"/>
  </node>

</launch>

